<div class="tui-container tui-container_adaptive center-content">
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_lg-12 tui-col_md-12 tui-col_sm-12 tui-col_xs-12 ">
      <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
      </h1>
    </div>
  </div>
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_lg-12 tui-col_md-12 tui-col_sm-12 tui-col_xs-12 ">
      <img class="logo" src="assets/microscope.png" />
    </div>
  </div>
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_lg-12 tui-col_md-12 tui-col_sm-12 tui-col_xs-12 ">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda exercitationem asperiores inventore
        eligendi cum, quia tempora alias laboriosam, ab sed deleniti nesciunt quaerat quis corporis eum voluptas
        obcaecati. Libero, porro!</p>
    </div>
  </div>
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_lg-12 tui-col_md-12 tui-col_sm-12 tui-col_xs-12 ">
      <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" iconRight="tuiIconSearch"
        (click)="onClick()">
        Disabled button
      </button>
    </div>
  </div>

  <!-- <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
  <br />
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_lg-12 tui-col_md-12 tui-col_sm-12 tui-col_xs-12 ">
      <a routerLink="/report" tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3"
        iconRight="tuiIconFile">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
    </div>
  </div>
</div>
